{% include '@electra/includes/header.html.twig' %}

<!-- ================================ If sample blocks enable ===============================-->
{% if electra.display_sample_blocks %}
  {% if is_front %}
    {{ include('@electra/samples/parallax-block.html', ignore_missing = true) }}
  {% endif %}
{% endif %}
<!-- end sample blocks enable -->

{% if not is_front %}
    {% if page.content_header %}
        {{page.content_header }}
    {% endif %}
{% endif %}


<!-- ================================ top Fluid section ===============================-->
 {% if page.content_top_fluid %}
    {{ page.content_top_fluid }}
{% endif %}
<!-- end top fluid section -->

<section>
    <div class="container">
        {{ page.content }}
    </div>
</section>

{% include '@electra/includes/footer.html.twig' %}
