<!-- =============================== footer ===============================-->
<footer class="page-footer bg-light">

  {% if page.footer_middle %}
     {{ page.footer_middle }}
 {% endif %}

  <div class="footer-bottom mt-3">
    <div class="container">
      <div class="row">

        <!-- end of col-md-7 -->
        <div class="col-md-7 d-flex">
          <div class="copyright">
            <p>{{ electra.copyright_text }} {{electra.theme_credits }}</p>
          </div>
          <!-- end of copyright -->
        </div>
        <!-- end of col-md-7 -->
        <div class="col-md-5 d-flex justify-content-end">
          <ul class="social-icons brand-bg-icons icon-sm">
            <li>
              <a href="#" class="facebook" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="google" target="_blank">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li>
              <a href="#" class="twitter" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
          <!-- end of social-icons -->
        </div>
        <!-- end of col-md-3 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of footer Bottom -->
</footer>
<!-- end of page-footer -->
