ul.social-icons {
  padding: rem(0px);
  margin-bottom: rem(0px);

  li {
    display: inline-block;

    a {
      font-size: rem(18px);
      padding: rem(10px);
      color: $gray-500;
      display: block;
      transition: ease-in 0.2s;
    }
  }

  &.round-icons {
    li {
      a {
        @include border-radius(50%);
      }
    }
  }
}

.brand-bg-icons a {
  color: #fff !important;
  line-height: rem(0px);

  &.facebook {
    background: #3b5998;
  }

  &.flickr {
    background: #ff0084;
  }

  &.git {
    background: #333;
  }

  &.google {
    background: #d34836;
  }

  &.instagram {
    background: #8a3ab9;
  }

  &.linkedin {
    background: #0e76a8;
  }

  &.pinterest {
    background: #C92228;
  }

  &.skype {
    background: #12A5F4;
  }

  &.twitter {
    background: #1dcaff;
  }

  &.vimeo {
    background: #162221;
  }

  &.youtube {
    background: #c4302b;
  }
}

ul.social-icons {
  &.icon-sm li a {
    font-size: rem(14px);
  }

  &.icon-md li a {
    font-size: rem(20px);
  }

  &.icon-lg li a {
    font-size: rem(23px);
  }
}
