.top-header {
  @include media-breakpoint-up(lg) {
    &.header-menu {
      width: 100%;
      background: none;
      &.standard{
        position: relative;
      }
      &.overlay{
        position: absolute;
        z-index: 999;
      }

      &.header-{
        &fixed{
          position: fixed;
          background: $white;
        }
        &resize{
          #block-electra-branding{
            img{
              height: rem(35px);
            }
          }
          .nav-item{
            .nav-link{
              padding: rem(2px 8px);
            }
          }
        }
      }
    }
  }
  #block-electra-branding {
    img {
      width: auto;
      height: rem(40px);
    }
  }
  #navigation-group {
    .m-nav {
      margin: auto;
    }
  }
}