@mixin parallax-color-animation {
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@mixin parallax-linear-gradient($degrees : -45deg, $color1: #EE7752, $color2 : #E73C7E, $color3: #23A6D5, $color4: #23D5AB){
  background: linear-gradient($degrees, $color1, $color2, $color3, $color4);
  background-size: 400% 400%;
}

@include keyframes(Gradient) {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
