// Social icons colors
$facebook : #3b5998;
$flickr : #ff0084;
$git : #333;
$googleplus : #d34836;
$instagram : #8a3ab9;
$linkedin : #0e76a8;
$pinterest : #C92228;
$skype : #12A5F4;
$twitter : #1dcaff;
$vimeo : #162221;
$youtube : #c4302b;
