{%
  set body_classes = [auth-wrapper]
%}

<div class="all-wrapper with-pattern">
<div class="auth-box-w">
<div class="logo-w">
<a href="/">
<img alt="{{ site_name }}" src="{{ logo }}" >
</a>
</div>
<h4 class="auth-header">Forgot Password ?</h4>
 {{ messages }}

    {{ page.content }}
    
     <div class="auth-footer clearfix">
    
    <div class="col-sm-6">
    <a href="/user/login">Existing User? - Login </a>
    </div>
    
    <div class="col-sm-6 text-right">
    <a href="/user/register">Create new account </a>
    </div>
    
    
    </div>
    
</div>
</div>